@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb089;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a79768;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
